* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.711);
    max-width: 600px;
    width: 100%;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

#btn-receitas-salvas, #btn-adicionar-receita {
    display: block;
    margin: 0 auto 20px auto;
    padding: 10px 20px;
    background-color: #ff7522;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#btn-receitas-salvas:hover, #btn-adicionar-receita:hover {
    background-color: #ff7533;
}

.receitas-lista {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.receita {
    background-color: #f0d8c6;
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
}

.receita:hover {
    background-color: #f2790e;
}

.receita h2 {
    margin-bottom: 8px;
    font-size: 20px;
    color: #333;
}

.receita p {
    font-size: 14px;
    color: #555;
}

.btn-remover {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-remover:hover {
    background-color: #ff1a1a;
}

.container-login100 {
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
  
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;  
  }
  
  .container-login100::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0.9);
  }